@using Furni.ViewModels.ServiceViewModel
@model UpdateServiceVM


<div class="container">
	<div class="row">
		<form method="post" asp-action="Update" asp-controller="Service" enctype="multipart/form-data">
			<div class="form-group">
				<label for="Name">Name</label>
				<input asp-for="Name" class="form-control" id="Name" placeholder="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<input asp-for="Description" class="form-control" id="Description" placeholder="Description">
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<img src="~/assets/images/@Model.ImagePath" width="50" height="50" />
				<label for="Image">Image</label>
				<input asp-for="Image" class="form-control" id="Image" placeholder="Image">
				<span asp-validation-for="Image" class="text-danger"> </span>
			</div>

			<div class="form-group">
				<label for="EmployeeId">EmployeeId</label>

				<option value="null" disabled selected>EmployeeId secin</option>
				<select asp-for="EmployeeIds" id="EmployeeIds">
					<@foreach (Employee emp in ViewBag.Employees)
										{
						<option value="@emp.Id"
								@(Model.EmployeeIds != null && Model.EmployeeIds.Contains(emp.Id)
									   ? "selected"
									   : "")>
						@emp.FirstName @emp.LastName
					</option>
										}

				</select>

				<span class="text-danger" asp-validation-for="EmployeeIds"></span>
			</div>


			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>
