@using Furni.ViewModels.BlogViewModel
@model CreateBlogVM



<div class="container">
	<div class="row">
		<form method="post" asp-action="Create" asp-controller="Blog" enctype="multipart/form-data">
			<div class="form-group">
				<label for="Title">Title</label>
				<input asp-for="Title" class="form-control" id="Title" placeholder="Title">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="Text">Text</label>
				<input asp-for="Text" class="form-control" id="Text" placeholder="Text">
				<span asp-validation-for="Text" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="Image">Image</label>
				<input asp-for="Image" class="form-control" id="Image" placeholder="Image">
				<span asp-validation-for="Image" class="text-danger"> </span>
			</div>
			<div class="form-group">
				<label for="PostedDate">PostedDate</label>
				<input asp-for="PostedDate" class="form-control" id="PostedDate" placeholder="PostedDate">
				<span asp-validation-for="PostedDate" class="text-danger"> </span>
			</div>
			<div class="form-group">

				<select asp-for="EmployeeId">
					@foreach (Employee emp in ViewBag.Employees)
					{
						<option value="@emp.Id">@emp.FirstName @emp.LastName</option>

					}

				</select>

			</div>


			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>